<h1>Criar Produtos</h1>
<form action="/produtos/create" method="post">
    <div class="form-control">
        <label for="nome">Nome do produto:</label>
        <input type="text" name="nome">
    </div>
     <div class="form-control">
        <label for="imagem">Imagem do produto:</label>
        <input type="text" name="imagem" placeholder="Insira a URL da imagem">
    </div>
    <div class="form-control">
        <label for="preco">Qual o valor do produto?</label>
        <input type="text" name="preco">
    </div>
    <div class="form-control">
        <label for="descricao">Descrição do produto:</label>
        <textarea name="descricao" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="Cadastrar Produto" class="btn">
</form>